/*tab±Í«©“≥«–ªª*/
.tab-box{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    position: relative;
}
.tab-menu{
    width: 500px;
}
.tab-menu li:first-child{
    border-left: none;
}
.tab-menu li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-left: 1px solid #333333;
    box-sizing: border-box;
    float: left;
    background: #21B6D9;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
.tab-con{
    width: 500px;
    position: absolute;
    top: 50px;
    bottom: 0;
   
}
.tab01{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   color:#ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
}

.hide{
    display: none;
}
.tab-menu .active{
    background:#BC5050;
}